{% load static %}

<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">    

    <!-- Chart.js -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Estilos locales e iconos -->
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="{% static 'reportes/estilos.css' %}">

    <title>Uber Eats</title>
</head>

<body>

    <nav class="navbar navbar-light bg-light sticky-top border-bottom">
        <span class="navbar-brand mb-0 h1">Uber <span class="navbar-brand mb-0 h1"
                style="color: #5fb709">Eats</span></span>
        <ul class="navbar-nav px-3">
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin <span data-feather="log-in"></span></a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}"
                                href="{% url 'index' %}">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'productos' %}active{% endif %}"
                                href="{% url 'productos' %}">
                                <span data-feather="shopping-cart"></span>
                                Productos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'repartidores' %}active{% endif %}"
                                href="{% url 'repartidores' %}">
                                <span data-feather="truck"></span>
                                Repartidores
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'clientes' %}active{% endif %}"
                                href="{% url 'clientes' %}">
                                <span data-feather="users"></span>
                                Clientes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'reclamos' %}active{% endif %}"
                                href="{% url 'reclamos' %}">
                                <span data-feather="user-x"></span>
                                Reclamos
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'indicadores' %}active{% endif %}"
                                href="indicadores">
                                <span data-feather="bar-chart-2"></span>
                                Indicadores
                            </a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/andrescuco/ueats">
                                <span data-feather="github"></span>
                                Github
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4 pb-2">
                {% block content %}
                {% endblock %}
            </main>

        </div> <!-- .row -->
    </div> <!-- .container-fluid -->
    <!-- Javascript para modales, iconos y DataTables -->
    <script>
        function abrir_modal(url) {
            $('#popup').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }
        function cerrar_modal() {
            $('#popup').modal('hide');
            return false;
        }
        $(document).ready(function () {
            feather.replace()
            $('.table').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
                    }
                }
            );
        });
    </script>
</body>

</html>