{% extends 'reportes/base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap align-items-center mb-2">
        <h2>Repartidores</h2>
        <div>
            <a  href="/admin/reportes/repartidor/"><button type="button" class="btn btn-sm btn-outline-secondary">Editar</button></a>
            <button type="button" class="btn btn-sm btn-outline-secondary">Exportar</button>
        </div>
</div>
{% if repartidores %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Correo</th>
            <th>Vehiculo</th>
            <th>Pedido</th>
        </tr>
    </thead>
    <tbody>
        {% for repartidor in repartidores %}
        <tr>
            <td>{{ repartidor.id }}</td>
            <td>{{ repartidor.nombre}} {{ repartidor.apellido }}</td>
            <td>{{ repartidor.direccion }}</td>
            <td>{{ repartidor.correo }}</td>
            <td>{{ repartidor.vehiculo }}</td>
            <td>{% if repartidor.pedido_asignado == None %}<a href="/admin/reportes/repartidor/{{ repartidor.id }}/change">Asignar <span data-feather="arrow-right"></span></a>{% else %}{{ repartidor.pedido_asignado }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No hay repartidores en la base de datos.</p>
{% endif %}
{% endblock %}